:root{
    --primary-font : Arial, Helvetica, sans-serif;
    --fancy-font: 'Fira Sans', sans-serif;
}
*{
    font-family: var(--primary-font);
}

#alert{
    width: 60%;
    margin: 20px auto;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-transform: uppercase;
}


#cartItemContainer{
    background-color: #fff;
    border-radius: 14px;
    border: 2px solid #4285F4;
    width: 80%;
    height: 180px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#itemImage{
    height: 100%;
    width: 20%;
    overflow: hidden;
}
#itemImage img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
#itemInfo{
    background-color: #eeeef1;
    border-radius: 14px;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#itemInfo span:nth-child(1){
    font-size: 2.2vw;
    font-weight: 600;
    line-height: 0.85em;
    margin-bottom: 10px;
    height: 40%;
    display: flex;
    align-items: center;

}
#itemInfo span:nth-child(2){
    font-size: 18px;
    overflow: hidden;
}
#pricing{
    background-color: #eeeef1;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#price{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
#price span:nth-child(1){
    font-size: 2vw;
    font-weight: 600;
}
#price span:nth-child(2){
    font-size: 1.5vw;
    margin: 0 20px;
    text-decoration: line-through;
}
#price span:nth-child(3){
    color: #388e3c;
    font-size: 18px;
    font-weight: 600;
}



#buttonContainer{
    background-color: #eeeef1;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 0 20px;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}
