:root{
    --primary-font : Arial, Helvetica, sans-serif;
    --fancy-font: 'Fira Sans', sans-serif;
}
*{
    font-family: var(--primary-font);
}

.alert{
    width: 60%;
    margin: 20px auto;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-transform: uppercase;
}
#pendingOrder, #orderHistory{
    background-color: #fff;
    border-radius: 14px;
    border: 2px solid #4285F4;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.itemImage{
    height: 100%;
    width: 20%;
    overflow: hidden;
}
.itemImage img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}


.itemInfo{
    background-color: #eeeef1;
    border-radius: 14px;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.itemInfo span:nth-child(1){
    font-size: 2vw;
    line-height: 0.85em;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.itemInfo span:nth-child(2){
    font-size: 18px;
    overflow: hidden;
}

.pricing{
    background-color: #eeeef1;
    border-radius: 14px;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.price{
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    
}
.price > span{
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
}
.price > div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.price div span:nth-child(2){
    font-size: 1.8vw;
    font-weight: 600;
}
.price div span:nth-child(1){
    font-size: 1.2vw;
    margin-right: 20px;
}

#buttonContainer{
    background-color: #eeeef1;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 0 20px;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

/* order history section */
#orderHistory{
    border-color: #00e699;
}
#orderlistInfo{
    width: 35%;
}
#paymentMode{
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    text-transform: uppercase;
}
#paymentMode span:nth-child(1){
    font-size: 1.5vw;
    font-weight: 600;
}
#paymentMode span:nth-child(2){
    font-size: 1vw;
}
#orderInfo{
    background-color: #eeeef1;
    border-radius: 14px;
    box-sizing: border-box;
    width: 15%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#orderDate{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
#orderDate span{
    margin: 5px 0;
}
#userAddress{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
#userAddress span:nth-child(1){
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

#confirm{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 14px;
    background-color: #eeeef1;
    border: 2px solid #DB4437;
}
#confirm > span{
    font-size: 1.35vw;
    font-weight: 600;
}
#confirm >div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}