@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
:root{
    --primary-font : Arial, Helvetica, sans-serif;
    --fancy-font: 'Fira Sans', sans-serif;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-transform: uppercase;
}

#sellerInfoContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 40%;
    margin: 30px auto;
}
#sellerGreeting{
    box-sizing: border-box;
    min-height: 80px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: bold;
    font-family: var(--fancy-font);
    border: 2px solid #4285F4;
    text-transform: uppercase;
}
#sellerGreeting:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
    border-radius: 4px;
}

#sellerOptions{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sellerItemsHeading{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    font-family: var(--fancy-font);
    text-transform: uppercase;
    margin: 50px auto;
    font-size: 2vw;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fileInput{
    display: none;
}

#formContainer{
    margin: 50px auto;
    width: 50%;
    height: 140vh;
    min-width: 500px;
    min-height: 750px;
}

#addItemForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: #bbdefb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#signUpHeading{
    width: 80%;
    text-align: center;
    font-family: var(--fancy-font);
    font-size: 2.2vw;
    font-weight: bold;
    text-transform: uppercase;
}
.productTitle, .productDesc, .price, .discountedPrice, .productDetails{
    width: 70%;
    height: 40px;
    padding: 8px 14px;
    font-family: var(--primary-font);
    font-size: 20px;
    transition: all 100ms linear;
}

.productTitle:focus, .price:focus, .discountedPrice:focus{
    border: 3px solid #F4B400;
    border-radius: 40px;
}

.productDesc:focus, .productDetails:focus{
    border: 3px solid #F4B400;
    border-radius: 12px;
}

.productDesc{
    height: 200px;
}
.productCat{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.pricing{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price, .discountedPrice{
    width: 40%;
}
.fileCount{
    font-family: var(--fancy-font);
    font-size: 20px;
    letter-spacing: 0.015em;
    margin-left: 10px;
}
.productDetails{
    height: 300px;
}
.formActions{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}
#deleteAlert{
    width: 100%;
    margin-top: 50px;
}