@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
:root{
    --primary-font : Arial, Helvetica, sans-serif;
    --fancy-font: 'Fira Sans', sans-serif;
}
*{
    font-family: var(--primary-font);
}

/* fetching spinner div */
#spinnerContainer, #errorId{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#itemDataContainer{
    display: flex;
    justify-content: space-evenly;
}
#itemMedia{
    width: 40%;
    min-height: 80vh;
    margin: 50px 0;
}

#itemInfo{
    width: 50%;
    background-color: #eeeef1;
    margin: 50px 0;
    padding: 20px;
}

#extImgDiv{
    width: 100%;
    height: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
}

#extImgDiv img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

#imgPreviewContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 50px;
}

#imgPreview{
    margin: 0 20px;
    width: 150px;
    height: 100%;
    border: 3px solid transparent;
    transition: all 100ms linear;
    overflow: hidden;
}
#imgPreview:hover{
    border-color: #4285F4;
}
#imgPreview img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
#userActions{
    height: 20%;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #4285F4;
    border-radius: 8px;   
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}
#userOptions{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
}
#userAddress{
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    background-color: #eeeef1;
    border-radius: 14px;
    padding: 0 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
#userAddress span:nth-child(1){
    font-size: 1.5vw;
    font-weight: 600;
    text-transform: uppercase;
}
#userAddress span:nth-child(2){
    font-size: 18px;
}
#metaContainer{
    padding: 20px;
    background-color: #fff;
    border: 2px solid #4285F4;
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

#itemTitle{
    display: flex;
    align-items: center;
    font-size: 2.2vw;
}

#itemMeta{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.itemMetaClass{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#rateCount{
    width: 25%;
    min-width: 50px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #388e3c;
}
#itemReviews span:nth-child(2){
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.noReview{
    font-weight: 600;
}
#extraInfo{
    margin-right: 50px;
}
#extraInfo span:nth-child(1){
    font-size: 18px;
    color: #666e;
}
#extraInfo span:nth-child(2){
    padding: 6px;
    text-align: center;
    background-color: #e4e4e7;
    text-transform: uppercase;
}
#price{
    height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#price span:nth-child(1){
    font-size: 2.5vw;
    font-weight: 600;
}
#price span:nth-child(2){
    margin: 0 20px;
    font-size: 1.8vw;
    text-decoration: line-through;
}
#price span:nth-child(3){
    color: #388e3c;
    font-size: 1.5vw;
    font-weight: 600;
}
#itemDescription,#itemDetails{
    font-size: 20px;
    margin: 50px 0;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #4285F4;
    border-radius: 8px;
}
#itemDescription div,#itemDetails div{
    box-sizing: border-box;
    background-color: #eeeef1;
    border-radius: 14px;
    padding: 20px;
}
.itemTextHeadings{
    display: flex;
    align-items: center;
    font-size: 2.2vw;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    height: 70px;
}
#sellerInfoContainer{
    padding: 20px;
    background-color: #fff;
    border: 2px solid #4285F4;
    border: 2px solid #4285F4;
    border-radius: 8px;
}
#sellerInfo{
    box-sizing: border-box;
    background-color: #eeeef1;
    border-radius: 14px;
    padding: 20px;
}
#sellerInfo span{
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 20px;

}
.reviewsContainer > span{
    display: block;
    position: relative;
    width: 25vw;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: 1.8vw;
    font-family: var(--fancy-font);
    font-weight: 600;
    text-align: center;
}
.reviewsContainer > span::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
}
