#searchBarContainer{
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.searchInput{
    outline: none;
    border: none;
    width: 60%;
    height: 60%;
    padding: 0 20px;
    font-size: 20px;
    transition: all 100ms linear;
}

.searchInput:focus{
    border: 4px solid #F4B400;
    border-radius: 30px;
}

.searchIconContainer{
    position: relative;
    right: 70px;
}