@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
:root{
    --primary-font : Arial, Helvetica, sans-serif;
    --fancy-font: 'Fira Sans', sans-serif;
}
*{
    font-family: var(--primary-font);
}

#mainNavbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #222;
    transition: all 250ms linear;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#navMeta{
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
}

.homeLink{
    text-decoration: none;
    color: white;
}

#logoContainer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border: 3px solid violet;
    cursor: pointer;
    animation: border-col 3s infinite linear;
}

#logoContainer span{
    font-size: 18px;
    font-family: var(--fancy-font);
    letter-spacing: 0.09em;
    color: white;
    font-weight: bold;
}
#nameDiv{
    color: white;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-left: 20px;
}

#navListContainer{
    width: 35%;
    height: 100%;
}

#navList{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.navLi{
    text-decoration: none;
    font-weight: 500;
}
.navLi li{
    color: white;
}
.loginLabel{
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    border-bottom: 2px solid transparent;
    transition: all linear 100ms;
}
.loginLabel:hover{
    border-color:#4285F4;
}
.navAddress{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.navAddress span{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
}

.selected{
    border-bottom: 2px solid #F4B400;
}

@keyframes border-col{
    0%{
        border-color: violet;
    }
    14.28%{
        border-color: indigo;
    }
    28.57%{
        border-color: blue;
    }
    42.85%{
        border-color: green;
    }
    57.14%{
        border-color: yellow;
    }
    71.4%{
        border-color: orange;
    }
    85.71%{
        border-color: red;
    }
    100%{
        border-color: violet;
    }
}